.wallet-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto; /* Center the container horizontally */
    max-width: 900px; /* Limit the maximum width of the container */
}

.wallet-balance {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
}

.wallet-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.wallet-table thead {
    background-color: #f5f5f5;
}

.wallet-table th,
.wallet-table td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.wallet-table th {
    color: #666;
}

.wallet-table td {
    color: #333;
}

.wallet-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.wallet-table tr:hover {
    background-color: #f1f1f1;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .wallet-container {
        padding: 10px;
        margin: 10px auto; /* Adjust margin for smaller screens */
    }
}
