@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
body {
    font-family: 'Inter', sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-bottom: 20px;
}

input,
button {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #ccc;
}
select {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    width: 107.5%;
    border: 1px solid #ccc;
}

button {
    width: 107.5%;
    background-color: #D24545;
    color: white;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.success-message {
    color: green;
    margin-top: 10px;
}

.error-message {
    color: red;
    margin-top: 10px;
}
