.wallet-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto; /* Center the container horizontally */
}

.wallet-balance {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
}

.wallet-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.wallet-table thead {
    background-color: #f5f5f5;
}

.wallet-table th,
.wallet-table td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.wallet-table th {
    color: #666;
}

.wallet-table td {
    color: #333;
}

.wallet-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.wallet-table tr:hover {
    background-color: #f1f1f1;
}

.wallet-carousel-container {
    margin-bottom: 20px; /* Added margin bottom for spacing */
}

.wallet-insight-container {
    margin-bottom: 20px; /* Added margin bottom for spacing */
}

.wallet-request-container {
    margin-bottom: 20px; /* Added margin bottom for spacing */
}

.wallet-buttons-container {
    display: flex;
    justify-content: space-between; /* Space evenly between buttons */
}

.wallet-send-button,
.wallet-add-button {
    padding: 10px 20px;
    background-color: #D24545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.wallet-send-button:hover,
.wallet-add-button:hover {
    background-color: #B53636; /* Darker background color on hover */
}
.view-all-button {
    flex: 1; /* Let the button grow to take up available space */
    background-color: #D24545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflow text */
    width: 100%; /* Set width to 100% of the available space */
}


.view-all-button:hover {
    background-color: #B53636;
}
